# Системные файлы Mac OS
.DS_Store

# Системные файлы Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Папка с настройками VS Code (твои личные настройки)
.vscode/

# Логи (отчеты об ошибках, если появятся)
*.log

# Временные файлы
*.tmp