body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.hero {
  min-height: 1000px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/hero-bg.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  height: 106px;
  position: relative;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 46px;
  width: auto;
  display: block;
}

.navigation-list {
  font-size: 14px;
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  line-height: 1.2;
}

.navigation-list a {
  text-decoration: none;
  color: white;
}

.social {
  display: flex;
  gap: 20px;
}

.social img {
  height: 36px;
  width: auto;
  display: block;
}

.social a {
  display: flex;
  align-items: center;
}

.header-line {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.hero-title {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 200px;
}

.video {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.video p {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

.services {
  margin-top: 202px;
  display: flex;
  gap: 12px;
}

.service-item {
  width: 315px;
  height: 151px;
  background-color: rgba(141, 134, 201, 1);
  padding: 35px;
  box-sizing: border-box;
  position: relative;
}

.service-category {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-top: 0;
  margin-bottom: 17px;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 0;
}

.go {
  position: absolute;
  top: 72px;
  left: 250px;
}

.advantages {
  margin-top: 150px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantage-item {
  width: 416px;
  height: 500px;
  border: 1px solid rgba(247, 236, 225, 1);
  box-sizing: border-box;
  padding: 25px 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.advantage-item h3 {
  color: white;
  font-size: 27px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 40px;
}

.item-court {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/courts-clay.webp");
}

.item-grass {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/courts-grass.webp");
}

.item-hard {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/courts-hard.webp");
}

.about {
  margin-top: 150px;
}

.about-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sports-club {
  width: 526px;
  height: 514px;
  object-fit: cover;
  margin-top: 70px;
  position: relative;
}

.about-content {
  width: 636px;
  height: 654px;
  background-color: rgba(247, 236, 225, 1);
  margin-left: -86px;
  box-sizing: border-box;
  padding-left: 146px;
  padding-right: 60px;
}

.about-content h2 {
  color: #333333;
  font-style: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 70px;
  margin-bottom: 25px;
}

.about-content p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.about-content h4 {
  color: #333333;
  font-style: bold;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
  margin-top: 35px;
}

.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-list li {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}

.about-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 8px;
  height: 8px;
  background-color: #8d86c9;
}

.trainers {
  padding-top: 150px;
}

.trainers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.trainers-header h2 {
  color: #333333;
  font-style: bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
}

.arrow {
  width: 45px;
  height: 45px;
  padding: 7px;
  box-sizing: border-box;
  background-color: #8d86c9;
}

.trainers-arrows {
  display: flex;
  gap: 15px;
}

.trainers-list {
  display: flex;
  gap: 24px;
}

.trenery {
  width: 196px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.trainer-frame {
  width: 196px;
  height: 240px;
  border: 1px solid rgba(247, 236, 225, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.trainer {
  width: 166px;
  height: 240px;
  object-fit: cover;
}

.trenery h4 {
  color: #333333;
  font-style: bold;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.trenery p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin: 0;
}

.columns-wrapper {
  display: flex;
  gap: 134px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.prices {
  width: 526px;
}

.prices-header {
  margin-bottom: 75px;
}

.prices-header h2 {
  color: #333333;
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.prices-list {
  width: 526px;
  height: 60px;
  box-sizing: border-box;
  background-color: #8d86c9;
  padding: 15px 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices-list h4 {
  width: 241px;
  height: 29px;
  color: white;
  font-size: 21px;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}

.prices-arrow {
  width: 30px;
  height: 30px;
  margin: 0;
}

.cafe-section {
  width: 636px;
}

.services-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}

.services-arrows {
  display: flex;
  gap: 15px;
}

.services-header h2 {
  color: #333333;
  font-style: Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.service-card h3 {
  color: #ffffff;
  font-style: Bold;
  font-size: 27px;
  font-weight: 700;
  line-height: 140%;
  margin: 0;
}

.service-card {
  width: 636px;
  height: 330px;
  border: 1px solid #f7ece1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cafe-photo,
.stringer-photo,
.sauna-photo,
.kids-photo {
  width: 586px;
  height: 270px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-left: 40px;
  margin: 30px auto;
}

.cafe-photo {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/service-cafe.webp");
}

.stringer-photo {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/service-repair.webp");
}

.sauna-photo {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/service-sauna.webp");
}

.kids-photo {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/service-kids.webp");
}

.footer {
  background-color: rgba(247, 236, 225, 1);
}

.footer-container {
  width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #333333;
  opacity: 30%;
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
  line-height: 140%;
}

.footer-menu {
  font-size: 14px;
  display: flex;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  line-height: 1.2;
}

.footer-menu a {
  text-decoration: none;
  color: #333333;
}

.footer-socials {
  display: flex;
  gap: 19px;
}

.footer-socials img {
  height: 36px;
  width: auto;
  display: block;
}

/* Вторая станица */

.hero-news {
  min-height: 263px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/hero-news.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-news h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  margin-top: 30px;
}

.news {
  margin-top: 80px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 24px;
  margin-bottom: 120px;
}

.news-photo {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.news-card {
  padding: 30px 40px;
  border: 1px solid rgba(247, 236, 225, 1);
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.news-date {
  color: #333333;
  opacity: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
}

.news-card h4 {
  color: #333333;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 20px;
}

.detail {
  background: #8d86c9;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-top: auto;
  align-self: flex-start;
}

/* Третья страница */

.hero-club {
  min-height: 263px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/hero-about.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-bottom: 80px;
}

.hero-club h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  margin-top: 30px;
}

.court {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.court h2 {
  color: #333333;
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

.court-arrow {
  display: flex;
  gap: 15px;
}

.court-slide {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  box-sizing: border-box;
  padding: 20px 25px;
  border: 1px solid rgba(247, 236, 225, 1);
  display: flex;
  align-items: flex-end;
  display: none;
}

.court-slide:first-child {
  display: flex;
}

.slide-summer {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/court-1.webp");
}

.slide-autumn {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/court-2.webp");
}

.slide-winter {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/court-3.webp");
}

.slide-spring {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/court-4.webp");
}

.summer-court {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  background-color: #8d86c9;
  padding: 10px 20px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.tennis-club {
  margin-top: 150px;
}

.tennis-club h2 {
  color: #333333;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 60px;
}

.container-club {
  display: flex;
  align-items: center;
}

.img-club1 {
  width: 526px;
  height: 514px;
  position: relative;
}

.about-info {
  width: 856px;
  height: 654px;
  background: #f7ece1;
  box-sizing: border-box;
  padding-left: 146px;
  margin-left: -86px;
}

.about-info h3 {
  color: #333333;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 140%;
  margin-top: 70px;
  margin-bottom: 40px;
}

.about-info p {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 20px;
}

.about-stats {
  display: flex;
  gap: 70px;
  margin-top: 45px;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stat-item h3 {
  color: #8d86c9;
  font-size: 48px;
  margin: 0;
  line-height: 1;
}

.stat-item p {
  color: black;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
}

.rules {
  margin-top: 120px;
  margin-bottom: 120px;
}

.rules h2 {
  color: #333333;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 140%;
  margin-bottom: 80px;
}

.rules-wrapper {
  display: flex;
  gap: 74px;
  align-items: flex-start;
}

.rules-menu {
  width: 366px;
}

.rules-menu h4 {
  color: #333333;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
}

.rules-menu li {
  color: #333333;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
}

.rules-menu li.active {
  color: #8d86c9;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  margin-left: 30px;
}

.rules-menu li.active h4 {
  color: #8d86c9;
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
}

.rules-content {
  flex: 1;
}

.rules-content ul {
  list-style: none;
  padding-left: 0;
}

.rules-content ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.rules-content ul li::before {
  content: "—";
  color: #8d86c9;
  position: absolute;
  left: 0;
  font-weight: 900;
}

.rule-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 25px;
  margin-top: 40px;
}

/* Блок с ценами и абонементами */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-overlay--visible {
  display: flex;
}

.modal-window {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  position: relative;
  display: none;
}

.modal-window--visible {
  display: block;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #999;
  transition: color 0.2s;
}

.modal-close:hover {
  color: #333;
}

/* Услуги новые разделы */
.services-slider .service-card {
  display: none;
}

.services-slider .service-card:first-child {
  display: block;
  margin: 0 auto;
}

/* О клубе ( блок с правилами)  */
.rule-text {
  display: none;
}

.rule-text.active {
  display: block;
}
